<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Update the {{ restaurant.getName }} Restaurant </h1>

        <form action="/restaurant/{{ restaurant.getId }}" method="post">
            <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
            <input name="_method" type="hidden" value="patch">

            <label for="name">Rename the Restaurant:</label>
            <input id="name" name="name" type="text">

          <button type="submit">Update</button>
        </form>

        <form action="/restaurant/{{ restaurant.getId }}" method="post">
          <input name="_method" type="hidden" value="delete">

          <button type="submit">Delete this Restaurant</button>
      </form>
    </body>
</html>
